@model CategoryReadEditVM

<div class="card form-card shadow border-0 mt-4 mb-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form method="post" asp-controller="Category" asp-action="SaveEdit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="row form-section">
                <div class="col-md-3 d-flex align-items-center">
                    <label asp-for="Name" class="col-form-label form-label-custom"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Name" class="form-control form-control-custom" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-section">
                <div class="col-md-3 d-flex align-items-center">
                    <label asp-for="DisplayOrder" class="col-form-label form-label-custom"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="DisplayOrder" class="form-control form-control-custom" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
            </div>

            <div class="form-actions">
                <a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Cancel</a>
                <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}